# hydroponics config example
tds-relay: 21 #GPIO pin
firebase-certificate: './firebase-certificate.json' # Name of firebase json file
water-temperature-device: '/sys/bus/w1/devices/28-01192a88d530/w1_slave' # water temperature device Name
ambient-sensor: 19 #GPIO pin
ph: # ph calibration values for calculation using y = mx + b
  m: -5.07
  b: 21.34
